node_modules
lib
dist
coverage

# typedoc accidental html output
docs

.versions
.eslintcache
*.docker*
docusaurus/docs/api
docusaurus/build

# build artifact from typedoc
scripts/markdown-magic/typedoc.out.json
.gitsigners


#lock
package-json.lock